// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "useBuiltIns": "entry"
//       }
//     ]
//   ]
// }

{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
}
